<?xml version="1.0" encoding="utf-8"?>
<ApplicationInsights xmlns="http://schemas.microsoft.com/ApplicationInsights/2013/Settings">
  
  <!-- This key is for Application Insights resource 'cefsharp.mvc' in resource group 'Default-ApplicationInsights-CentralUS' -->
  <InstrumentationKey>757c5e6c-d6a1-49cd-b2af-d5f774a04d60</InstrumentationKey>
</ApplicationInsights>